[submodule "vendor/plugins/chiliproject_etherpad"]
	path = vendor/plugins/chiliproject_etherpad
	url = https://github.com/tipitnet/chiliproject_etherpad_plugin.git
[submodule "vendor/plugins/chiliproject_tipit_mailgun_handler"]
	path = vendor/plugins/chiliproject_tipit_mailgun_handler
	url = https://github.com/tipitnet/chiliproject_tipit_mailgun_handler_plugin.git
[submodule "vendor/plugins/chiliproject_tipit_clockability"]
	path = vendor/plugins/chiliproject_tipit_clockability
	url = https://github.com/tipitnet/chiliproject_tipit_clockability_plugin.git
